@{
    ViewData["Title"] = "Página Inicial";

    var nome = "Cristiano";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo @nome</h1>
    <h2 class="text-primary">Ao mundo de programação MVC</h2>
    <p>Saiba mais em <a href="https://learn.microsoft.com/aspnet/core">sobre como contruir Web apps com ASP.NET Core</a>.</p>
</div>

